@charset "utf-8";
/* CSS Document */
html,body {
    margin: 0;
    padding: 0;
    width:100%;
	height: 100%;
    /* 禁止用户选择 */
    user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
}
body {
    font-family: "Noto Sans CJK SC", "Source Han Sans CN", "PingFangSC-Regular", "Microsoft YaHei", sans-serif;
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    color: #666;
}
a {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    text-decoration: none;
}
.link {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    text-decoration: none;
    border-bottom: solid 1px #DDD;
    width: 90%;
}
.link2 {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    text-decoration: none;
    width: 90%;
}
.resident {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
.sub {
    width: 90%;
    max-width: 30em;
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}
.sub_title {
    width: 100%;
    height: 3em;
    line-height: 3em;
    text-align: center;
    background-color: #eee;
}
.sub_link {
    width: auto;
    height: 3em;
    line-height: 3em;
    padding-left: 1.2em;
    color: #666;
}
.sub_link2 {
    width: auto;
    height: 3em;
    line-height: 3em;
    padding: 0 0.5em ;
    color: #666;
}
.Red {color: #d63a4a;}
.Blue {color: #2f81c2;}
.nappi {color: #eb7b00;}
.chokkaku {color: #334097;}
.borudo {color: #aa4790;}
.shefunenn {color: #e10015;}
.aqua {color: #6ccfe4;}
.greedy {color: #ffdc35;}
.timeet {color: #70ac1a;}